.root {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 100%;
  height: 100%;
}

.logo {
  color: var(--black);
  font-size: 36px;
  line-height: 38px;
  font-weight: 500;
}

.logoFirstLetter {
  color: var(--accent);
}

.sideBar {
  display: flex;
  flex-direction: column;

  gap: 50px;

  padding: 25px;
}

.calendarWrapper {
  width: 1000px;
}
