name: Deploy Workflow
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: npm ci && npm run build
      - name: Copy bundle via ssh
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: "dist,nginx"
          target: "./calendar-web/frontend"
      - name: remote control
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            sudo docker stop nginx || true && sudo docker run --name nginx -v /home/github-runner/calendar-web/frontend/nginx/config:/etc/nginx/conf.d -v /home/github-runner/calendar-web/frontend/dist:/dist -p 80:80 --rm -d nginx
